  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">

     <!-- first card -->
     <div class="w3-card-4 w3-left" style="width:45%;">
       <header class="w3-container w3-deep-purple">
         <h1>Header</h1>
       </header>

       <div class="w3-container">
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
       </div>

       <footer class="w3-container w3-theme-l3">
         <h5>Footer</h5>
       </footer>
     </div>


     <!-- second card -->
     <div class="w3-card-4 w3-right" style="width:45%;">
       <header class="w3-container w3-deep-purple">
         <h1>Header</h1>
       </header>

       <div class="w3-container">
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
       </div>

       <footer class="w3-container w3-theme-l3">
         <h5>Footer</h5>
       </footer>
     </div>


    </div>

    <div class="w3-third w3-container">
      Side here.
    </div>

  </div>