@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}


a {
  color: black;
  text-decoration: none;
  border-bottom: solid 2px green;
  padding: 0;
}

a:visited {
  color: black;
}

a:hover, a:active {
  color: green;
}

h1 {
  margin-bottom: 0.3em;
  line-height: 1.2em;
}

body {
  line-height: 1.5em;
}

.clearfix { clear: both; }

.wrapper {
  max-width: 800px;

  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2em;

  display: flex;
  flex-direction: column;
}

.columns {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 1em;
  margin-bottom: 2em;
}

@media screen and (min-width: 575px) {
  .wrapper {
    margin: auto;
    margin-top: 5em;
  }

  .columns {
    display: flex;
    flex-direction: row;
  }

  .sidebar {
    width: 25%;
  }

  .main {
    width: 75%;
  }

  .menu {
    flex-direction: column;
  }
}

.sidebar header {
  font-size: xx-large;
  line-height: 1.2em;
}

.main > :first-child { margin-top: 0 !important; margin-left: 0 !important; }
.main > :last-child { margin-bottom: 0 !important; margin-right: 0 !important; }

.menu .menu-item {
  text-decoration: none;
  margin: 0.2em;
}

.menu .menu-subitem {
  text-decoration: none;
  margin: 0.1em;
  font-size: 14px;
  padding: 0;
}

.menu .menu-subitem-active {
  font-weight: bold;
  margin: 0.1em;
  font-size: 14px;
  padding: 0;
}

.menu .menu-item.active {
  font-weight: bold;
  color: black;
  border-bottom: none;
}

.menu .menu-item-active {
  font-weight: bold;
  border-bottom: none;
  margin: 0.2em;
}

block {
  width: 4px;
  height: 70px;
  padding: 2px;
  border: 2px solid #00aaaa;
  background-color: #faffff;
  margin: 0;
}

.avatar {
  width: 125px;
  height: 125px;
  float: left;
  border-radius: 6px;
  margin-bottom: 1em;
  margin-right: 2em;
  margin-top: 1em;
}

ul.values {
  list-style-type: none;
  padding-left: none;
}
ul.values li {
  padding: 0.5em;
}

.book-detail {
  margin-top: 2em;
  margin-bottom: 2em;
}

.book-detail h2 {
  margin-bottom: 0.2em;
}

.book-detail .publication-date {
  font-weight: 200;
  margin-top: 0em;
}

.book-detail .cover {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}

.book-detail img {
  height: 126px;
  width: 100px;
}

.posts tr td:first-child,
.talks tr td:first-child,
.podcasts tr td:first-child {
  min-width: 100px;
  font-weight: 200;
  text-align: right;
}

.posts, .talks, .podcats > tr, td {
  padding: 10px;
}

.meta {
  margin-top: 0.3em;
  font-weight: 200;
}

pre {
  background-color: #faffff;
  border: 1px solid #ddd;
  padding: 0.8em;
  overflow: scroll;
  border-radius: 6px;
  line-height: 1.3em;
}

pre::-webkit-scrollbar { 
  display: none; 
}

ul, ol {
  margin-left: 1.35em;
}

code {
  border: 1px solid #ddd;
  background-color: #faffff;
  padding: 0 .2em;
}

pre code {
  border: none;
}

/* terminal */
pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

pre.terminal code {
  background-color: #333;
}

blockquote {
  font-style: italic;
  padding-left: 10px;
}

.postfooter {
  border-top: 1px solid;
  margin-top: 3em;
  font-style: italic;
}

.postfooter2 {
  border-top: 1px solid;
  margin-top: 3em;
}

.footer {
  margin-top: 3em;
  text-align: center;
  color: grey;
}
.footer a {
  color: grey;
}

.footer a:visited {
  color: grey;
}
